<!DOCTYPE HTML>
<html lang= "en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add New Task
</title>
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<div class ="container">
<h3> Add Task</h3>
<hr>

<p class ="h4 mb-4">Save Task </p>
<form action ="#" th:action ="@{/todo/save}"
                  th:object ="${addList}"  method ="GET">
   <input type ="hidden" th:field="*{item_id}" />               
<input type ="text" th:field ="*{description}" class ="form-control mb-4 col-4" placeholder ="Description">
<label for="status">Mark Status:</label>
<select th:field ="*{status}">
  <option value="progress">progress</option>
  <option value="completed">completed</option>
</select>

<button type ="Submit" class ="btn btn-info col-2">Save</button>

</form>

<a th:href ="@{/todo/list}">Back to Tasks List</a>

</div>

</body>
</html>